html,
body {
    /* From https://coolbackgrounds.io/ */
    background-image: url('cool-background.png')
}

h1 {
    font-weight: bolder;
    margin: 0;
    color: navy;
}

#is_authenticated {
    margin-left: 20px;
    margin: 5px;
    color: navy;
}

.list-inline {
    height: 180px;
    margin-bottom: 40px;
}

.navbar {
    background-image: url('salt.png');
    list-style: none;
    font-weight: bold;
    margin-bottom: 0;
    width: 120%;
    justify-content: start;
    overflow: auto;
}

.nav-link {
    color: rgb(212, 176, 162);
    ;
}

h2 {
    margin: 20px;
    color: navy;
}

h2 b {
    color: orangered;
}

h4 {
    color: navy;
}

.index {
    display: flex;
}

.index .container {
    height: 20rem;
    width: auto;
    object-fit: contain;
    object-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.index .container img {
    width: auto;
    max-width: 100%;
    object-fit: fill;
    max-height: 380px;
    margin: auto;
    padding: 2vw;
}

.card {
    margin: 1vw;
    box-shadow: 0 0 2px 2px rgb(102, 102, 102);
}

.container h3 {
    margin-top: 20px;
}

.p-1 input {
    position: absolute;
    bottom: 0;
    left: 8rem;
}

.p-1 a {
    position: absolute;
    bottom: 0.2rem;
    left: 1rem;
}

.p-1 a button {
    padding: 0.4rem;
}

#images {
    padding: 10px;
    margin: 10px;
    border: 2px dotted red;
    width: 80%;
    margin-left: 0;
}

.row .col-4 .container img {
    width: 100%;
}

.col-4 .container ul li {
    margin-left: 40px;
}

.place-a-bid {
    margin-left: -50px;
}

.list-group-horizontal {
    display: inline-block;
    border: none;
    margin-top: 6vh;
}

.closebutton {
    display: inline-block;
    position: absolute;
    left: 40;
    bottom: 10;
    border: none;
    padding: 0;
}

.watchbutton {
    display: inline-block;
    position: absolute;
    left: 150;
    bottom: 10;
    border: none;
    padding: 0;
}

.card-footer {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    display: inline;
}

img {
    margin: 2vw;
}

.col-8 ul {
    margin: 20px;
    padding: 1px;
    border: 1px solid lightcoral;
    border-radius: 5px;
    background-color: lightcoral;
}

.bid {
    justify-content: start;
    margin-right: 20%;
    margin-left: -50px;
    margin-bottom: 5px;
    padding: 10px;
    font-weight: bold;
    background-color: lightcoral;
    border: 1px solid lightcoral;
    border-radius: 25px;
}

.comment_field {
    width: 100%;
    padding: 0 0 200px 0;
}

.card-body .container form h3 {
    color: navy;
}

.blue {
    color: rgb(25, 76, 185);
}

.comment {
    background-color: azure;
}

.small {
    color: grey;
    font-size: small;
}

.unwatch {
    display: inline;
    position: absolute;
    bottom: 0px;
    left: 2rem;
    padding: 0.4rem;
    margin-right: 2rem;
    margin-bottom: 0.2rem;
}

.watch {
    display: inline;
    position: absolute;
    bottom: 0px;
    left: 4.2rem;
    padding: 0.4rem;
    margin-right: 2rem;
    margin-bottom: 0.2rem;
}

.categories .row {
    margin: 1rem;
}

.alert {
    padding: 20px;
    width: 95%;
    margin: auto;
}