{% extends "auctions/layout.html" %}

{% block body %}
    <h1 class="message">{{ message }}</h1>
    <h2 class="title">Active Listings</h2>
    <div class="container justify-content-center">
        <div class="row">
            {% for listing in listings %}
                <div class="col-4 listing">
                    <div class="info">
                        {% if listing.image.url == None %}
                            <img src="/media/no_img.svg" alt="No image">
                        {% else %}
                            <img src="{{ listing.image.url }}" alt="Broken image">
                        {% endif %}
                        {{ listing.name }}
                        {{ listing.description }}
                        {{ listing.condition }}
                        {% if listing.minimum_bid == None %}
                            <div class="info">Current bid: N/A</div>
                        {% else %}
                            <div class="info">Current bid: {{ listing.current_bid.amount }}({{ listing.current_bid.currency }})</div>
                        {% endif %}
                        <a href="{% url 'view' listing.id %}">Listing Details</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}