{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="message">{{ message }}</h2>
    <h2 class="message">{{ winner }}</h2>
    <div class="row">
        <div class="col-8">
            <div class="view container">
                <div class="row">
                    <div class="col-4">
                        <div class="container" style="display: inline;">
                            {% if listing.image %}
                                <img src="{{ listing.image.url }}" style="width: 20vw;" alt="Broken image">
                            {% else %}
                                <img class="no_image" src="/media/no_img.svg" alt="No image">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="container" style="display: inline;">
                            <ul class="list-unstyled">
                                <li><h3>{{ listing.name }}</h3></li>
                                <li><p class="small">Condition: <em>{{ listing.condition }}</em></p></li>
                                <li><p>{{ listing.description }}</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="container comment_container">
            </div>
        </div>
    </div>
{% endblock %}
            