{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="message">{{ message }}</h2>
    <div class="container listing justify-content-center">
            <div class="row">
                <div class="col-3">
                    {% if listing.image.url == None %}
                        <img src="/media/no_img.svg" alt="No image" style="width: 10vw;">
                    {% else %}
                        <img src="{{ listing.image.url }}" style="width: 20vw;" alt="Broken image">
                    {% endif %}
                </div>
                <div class="col-6">
                    <h3>Listing: {{ listing.name }}</h3>
                    <p>{{ listing.description }}</p>
                    <p>Condition: {{ listing.condition }}</p>
                    <p>Ships to: {{ listing.shipping_options }}</p>
                    <p>Shipping cost: {{ listing.shipping_cost }}</p>
                    <p>Shipped from: {{ listing.location }}</p>
                    {% if request.user.is_authenticated %}
                        <div class="container-flex justify-content-start bid">
                            <label>Would you like to place a bid? Make sure you select the currency you would like the bid in.</label>
                            <form action="{% url "view" listing.id %}" method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                                {% if listing.minimum_bid.amount == 00.00 %}
                                    <input type="hidden" name="start_bid" value="{{ listing.starting_bid }}">
                                    <input type="hidden" name="og_amount" value="{{ listing.starting_bid.amount }}">
                                    <input type="hidden" name="og_currency" value="{{ listing.starting_bid.currency }}">
                                {% else %}
                                    <input type="hidden" name="start_bid" value="{{ listing.minimum_bid }}">
                                    <input type="hidden" name="og_amount" value="{{ listing.minimum_bid.amount }}">
                                    <input type="hidden" name="og_currency" value="{{ listing.minimum_bid.currency }}">
                                {% endif %}
                                <br>
                                <input type="submit" class="btn btn-primary">
                            </form>
                        </div>
                    {% endif %}
                    <p>Bidding ends at {{ listing.end_bid_time }} in <b>{{ listing.end_bid_time.tzinfo }}</b> time</p>
                </div>
                <div class="col-3">
                    {% if listing.minimum_bid.amount == 00.00 %}
                        <h5>Starting bid: {{ listing.starting_bid }} <b>({{ listing.starting_bid.currency }})</b></h5>
                    {% else %}
                        <h5>Minimum bid: {{ listing.minimum_bid }} <b>({{ listing.minimum_bid.currency }})</b></h5>
                        {% if listing.highest_bid != None %}
                            <h5>Highest bid so far: {{ listing.highest_bid }} <b>{{ listing.highest_bid.currency }}</b></h5>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}