{% extends "auctions/layout.html" %}

{% block title %}
    View Listing
{% endblock %}

{% block body %}
    {% if message %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
    {% elif error %}
        <div class="alert alert-danger" role="alert">
            <b>Error:</b> {{ error }}
        </div>
    {% elif winner %}
        <div class="alert alert-danger" role="alert">
            {{ winner }}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="row">
                    <div class="col-4">
                        <div class="container">
                            {% if listing.image %}
                                <img src="{{ listing.image.url }}" alt="Broken image">
                            {% elif listing.image_url %}
                                <img src="{{ listing.image_url }}"  alt="Broken image">
                            {% else %}
                                <img src="/media/no_img.svg" alt="No image">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="container">
                            <ul class="list-unstyled">
                                <li><h3>{{ listing.name }}</h3></li>
                                <li class="small">
                                    <p>Category: {{ listing.category }} 
                                    <br>
                                    Condition: {{ listing.condition }}</p>
                                </li>
                                <li><p><em>Product Description: {{ listing.description }}</em></p></li>
                                <li>
                                    <p>
                                        {% if listing.minimum_bid  %}
                                            Minimum Bid: <b class="blue">{{ listing.minimum_bid }}</b>
                                        {% endif %}
                                    </p>
                                </li>
                                <li>
                                    <p>
                                    {% if listing.current_bid %}
                                        Current Bid: <b class="blue">{{ listing.current_bid }}</b>
                                    {% else %}
                                        Current Price: <b class="blue">No bids</b>
                                    {% endif %}
                                    </p>
                                </li>
                                <li>Starting Price: {{ listing.starting_bid }}</p></li>
                                <li><p>Ships to: {{ listing.shipping_options }}</p></li>
                                <li><p>Shipping cost: {{ listing.shipping_cost }}</p></li>
                                <li>
                                    <p class="small"><em> 
                                        {% load mathfilters %}
                                        {% if listing.time_difference.days == 0 %}
                                            Created {{ listing.time_difference.seconds|div:3600|floatformat:0 }} hours and 
                                            {{ listing.time_difference.seconds|div:60|mod:60|floatformat:0 }} minutes ago.
                                        {% elif listing.time_difference.days == 0 and listing.time_difference.seconds|div:3600 == 0 %}
                                            Created {{ listing.time_difference.seconds|div:60|mod:60|floatformat:0 }}minutes ago.
                                        {% else %}
                                            Created {{ listing.time_difference.days }} days, 
                                            {{ listing.time_difference.seconds|div:3600|floatformat:0 }} hours and 
                                            {{ listing.time_difference.seconds|div:60|mod:60|floatformat:0 }} minutes ago.
                                        {% endif %}
                                    </em></p>
                                </li>
                                {% if not request.user.is_authenticated %}
                                    <li>
                                        <p>
                                            <h6>To place a bid, please <a href="{% url "login" %}">login</a></h6>
                                        </p>
                                    <li>
                                {% endif %}
                                <li>
                                    <ul class="list-unstyled list-group list-group-horizontal">
                                        {% if request.user.is_authenticated %}
                                            {% if request.user == listing.seller %}
                                                <li class="list-group-item closebutton">
                                                    <form class="close-bid" action="{% url "view" listing.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="turn_off" value="off">
                                                        <input type="submit" name="off" class="btn btn-warning" value="Close Bid">
                                                    </form>
                                                </li>
                                            {% endif %}
                                            {% if listing.user_set.all and request.user in listing.user_set.all %}
                                                <li class="list-group-item watchbutton">
                                                    <form action="{% url "view" listing.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="listing_id" value="{{ listing.id }}">
                                                        <input type="submit" name="unwatch" class="btn btn-success" value="Unwatch">
                                                    </form>
                                                </li>
                                            {% else %}
                                                <li class="list-group-item watchbutton">
                                                    <form action="{% url "view" listing.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="listing_id" value="{{ listing.id }}">
                                                        <input type="submit" name="watch" class="btn btn-success" value="Watch">
                                                    </form>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    <ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% if listing.bid_active %}
                        <div class="col-4">
                            <div class="container">
                                <ul class="list-unstyled">
                                    {% if request.user.is_authenticated %}
                                        <li>
                                            <h3 class="place-a-bid">Place a Bid</h3>
                                        <li>
                                        <li>
                                            <form class="bid" action="{% url "view" listing.id %}" method="POST">
                                                {% csrf_token %}
                                                {{ form.amount_bid.label }} in <b class="blue">{{ listing.starting_bid.currency }}:</b>
                                                {{ form.amount_bid }}
                                                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                                                {% if listing.minimum_bid.amount is None %}
                                                    <input type="hidden" name="start_bid" value="{{ listing.starting_bid }}">
                                                {% else %}
                                                    <input type="hidden" name="start_bid" value="{{ listing.minimum_bid }}">
                                                {% endif %}
                                                <input type="submit" name="bid" class="btn btn-primary" value="Place Bid">
                                            </form>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-4">
                            <div class="container">
                                <br>
                                <div class="alert alert-danger" role="alert">
                                    Bidding for this product has closed!
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="row">
                    <div class="col-4">
                        {% if request.user.is_authenticated %}
                            <div class="card-body">
                                <div class="container">
                                    <form action="{% url 'view' listing.id %}" method="POST">
                                        {% csrf_token %}
                                        <h3>Leave a comment:</h3>
                                        {% load widget_tweaks %}
                                        {% render_field comment_form.comment class="comment_field" %}
                                        <br>
                                        <br>
                                        <input type="submit" name="leave_comment" class="btn btn-success" value="Submit">
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-8">
                        <h2>Comments</h2>
                        <ul class="container-flex">
                            {% if not comments %}
                                <div class="card-text">
                                    <h4><b>0 Comments</b></h4>
                                </div>
                            {% else %}
                                {% for comment in comments %}
                                    <div class="card comment">
                                        <div class="card-body">
                                            <blockquote mb-0>
                                                <p>{{ comment.comment }}</p>                           
                                                <br>
                                                <footer class="blockquote-footer"><cite title="Source Title">{{ comment.user.username }}</cite></footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
            